/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
a,
button {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3.2rem;
}
p {
  line-height: 1.4;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
}
a,
button {
  font-size: 2.1rem;
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.navigation .container {
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}
.navigation .container .logo {
  margin-left: 2%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}
.navigation .container .logo h1 {
  color: #78C885;
  font-family: Raleway;
  font-size: 3.6rem;
  font-weight: bold;
  margin-left: 5px;
  line-height: 42px;
}
.navigation .container .nav-links {
  margin-right: 2%;
  display: flex;
  align-items: flex-end;
}
.navigation .container .nav-links a {
  color: #258D79;
  margin-left: 10px;
}
.navigation .container .nav-links .sign-in {
  color: #258D79;
  background-color: white;
  border: 1px solid #258D79;
  border-radius: 2px;
  padding: 5px 24px;
}
.navigation .container .nav-links .sign-up {
  color: white;
  background-color: #258D79;
  border: none;
  border-radius: 2px;
  padding: 5px 24px;
}
footer {
  background-color: #556E64;
  color: white;
  padding: 20px 2% 12px;
}
footer p {
  line-height: 1.7;
  font-size: 1.1rem;
}
footer a {
  color: white;
  margin-left: 10px;
  font-weight: unset;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .contact {
  margin-bottom: 20px;
}
footer .contact address {
  margin-bottom: 10px;
}
footer .contact .phone-nums p {
  font-size: 1rem;
}
footer .copyright {
  align-self: flex-end;
}
footer .links div {
  display: flex;
  justify-content: space-around;
}
footer .links .social {
  margin: 15px 0;
}
footer .links .info-links a {
  font-size: 1rem;
}
.cta-top {
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(120deg, #99DE99 0%, #258D79 100%);
}
.cta-top h1,
.cta-top h2 {
  color: white;
}
.cta-top .cta {
  margin-bottom: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cta-top .cta-text {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta-top .cta-text h1 {
  margin-bottom: 40px;
  text-align: center;
}
.cta-top .cta-text button {
  color: #6E6E6E;
  background-color: #F9FF00;
  border: none;
  border-radius: 39px;
  padding: 18px 48px;
}
.cta-top .features {
  text-align: center;
}
.cta-top .feature-boxes {
  margin: 35px 10% 0;
  display: flex;
  justify-content: space-between;
}
.cta-top .feature-boxes .feature-box {
  width: 30%;
  padding: 36px 1.5%;
  background-color: white;
  border-radius: 15px;
  color: #6E6E6E;
}
.cta-top .feature-boxes .feature-box img {
  margin-bottom: 5rem;
}
.testimonials {
  text-align: center;
  padding: 80px 0 50px;
  color: #3E3E3E;
}
.testimonials h2 {
  color: #78C885;
}
.testimonials p {
  font-size: 1.4rem;
  line-height: 1.6;
  z-index: 1;
}
.testimonials img {
  z-index: 0;
}
.testimonials .quotes {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.testimonials .quotes .qb1 p {
  max-width: 270px;
  position: relative;
  top: -145px;
  left: 40px;
}
.testimonials .quotes .qb1 .portrait {
  position: relative;
  top: -90px;
  left: -70px;
}
.testimonials .quotes .qb2 p {
  max-width: 270px;
  position: relative;
  top: -50px;
  left: 40px;
}
.testimonials .quotes .qb2 .bubble {
  position: relative;
  top: 100px;
  left: 0;
}
.testimonials .quotes .qb2 .portrait {
  position: relative;
  top: 10px;
  left: 100px;
}
.testimonials .quotes .qb3 p {
  max-width: 320px;
  position: relative;
  top: -165px;
  left: 35px;
}
.testimonials .quotes .qb3 .portrait {
  position: relative;
  top: -115px;
  left: 40px;
}
.cta-bottom {
  background-color: #258D79;
  padding: 80px 0;
  color: white;
}
.cta-bottom .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta-bottom button {
  margin-left: 2%;
  color: #F9FF00;
  background-color: #258D79;
  border: 1px solid #F9FF00;
  border-radius: 39px;
  padding: 17px 40px;
}
