/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
a,
button {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.6rem;
}
p {
  line-height: 1.4;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  font-size: 2.1rem;
}
button {
  font-size: 2.1rem;
}
img {
  max-width: 100%;
  height: auto;
}
.navigation {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
}
.navigation .logo {
  margin-left: 2%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}
.navigation .logo h1 {
  color: #78C885;
  font-family: Raleway;
  font-size: 3.6rem;
  font-weight: bold;
  margin-left: 5px;
  line-height: 42px;
}
.navigation .nav-links {
  margin-right: 2%;
  display: flex;
  align-items: flex-end;
}
.navigation .nav-links a {
  color: #258D79;
  margin-left: 10px;
}
.navigation .nav-links .sign-in {
  color: #258D79;
  background-color: white;
  border: 1px solid #258D79;
  border-radius: 2px;
  padding: 5px 24px;
}
.navigation .nav-links .sign-up {
  color: white;
  background-color: #258D79;
  border: none;
  border-radius: 2px;
  padding: 5px 24px;
}
footer {
  background-color: #556E64;
  color: white;
  padding: 2%;
  display: flex;
  justify-content: space-between;
}
footer p {
  line-height: 1.7;
  font-size: 1.1rem;
}
footer a {
  color: white;
  margin-left: 10px;
  font-weight: unset;
}
footer .contact {
  margin-bottom: 20px;
}
footer .contact address {
  margin-bottom: 10px;
}
footer .contact .phone-nums p {
  font-size: 1rem;
}
footer .copyright {
  align-self: flex-end;
}
footer .links div {
  display: flex;
  justify-content: space-around;
}
footer .links .social {
  margin: 15px 0;
}
footer .links .info-links a {
  font-size: 1rem;
}
