

.about-wmp {
    background: @bg-gradient;
    padding: 50px 0 70px;

    h1, h2 {
        color: white;
    }

    p, h1 {
        margin-bottom: 15px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .about-desc {
            max-width: 90%;
            .box(@darkstone, 2%);
        }
    
        img {
            max-width: 45%;
        }
    }
}



.about-team {
    margin: 50px auto 40px;
    text-align: center;

    .container {
        width: 80%;
    }

    .team-desc {
        margin-bottom: 50px;

        h2 {
            color: @seagreen;
            margin-bottom: 2.5rem;
        }
        
        p {
            max-width: 85%;
            margin: 0 auto;
            color: @gray;
        }
    }

    .team-members {
        max-width: 75%;
        max-height: 700px;
        margin: 0 auto;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
            

        .team-box {
            .box(@teal, 1%);
            box-shadow: 0 2px 2px @teal;
            width: 220px;
            height: 160px;
            margin-bottom: 5%;

            * {
                margin-bottom: 10px;
            }

            h4 {
                color: @gray;
            }
        }
    }
}