footer {
    background-color: @footer-bg;
    color: white;
    padding: 20px 2% 12px;

    p {
        line-height: 1.7;
        font-size: 1.1rem;
    }

    a {
        color: white;
        font-weight: unset;
    }

    .container {
        display: flex;
        justify-content: space-between;

        @media @phone {
            flex-direction: column;
            align-items: center;
            text-align: center;   
        }
    }

    .contact {
        margin-bottom: 20px;

        @media @tablet-sm {
            margin-bottom: 40px;
        }

        @media @phone {
            order: 2;   
        }
        
        address {
            margin-bottom: 10px;
        }
        
        .phone-nums p {
            font-size: 1.0rem;
        }
    }

    .copyright {
        align-self: flex-end;

        @media @tablet-sm {
            max-width: 135px;
            text-align: center;
        }

        @media @phone {
            align-self: unset;
            order: 3;   
        }
    }

    .links {
        width: 170px;

        @media @phone {
            order: 1;
            margin-bottom: 2rem;
        }

        div {
            display: flex;
            justify-content: space-around;
        }

        .social {
            margin: 15px 0;
        }

        .info-links a {
            font-size: 1.0rem;

            @media @phone {
                font-size: 1.2rem;
            }
        }
    }
    
}