// Home page styles
.cta-top {
    padding-top: 40px;
    padding-bottom: 40px;
    background: @bg-gradient;

    h1, h2 {
        color: white;
    }

    .cta {
        margin-bottom: 70px; 
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @media @tablet-md {
            flex-direction: column;
        }

        img {

            @media @desktop {
                max-width: 50%;
            }

            @media @tablet-md {
                max-width: 90%;
                margin-bottom: 4rem;
            }
        }
    }

    .cta-text {
        margin-left: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media @tablet-md {
            margin: 0 1%;
        }

        h1 {
            margin-bottom: 40px;
            text-align: center;
        }

        button {
            .button(@gray, @yellow, 1px solid yellow, 39px, 18px 48px);

            &:hover {
                color: @yellow;
                background-color: unset;
            }
        }
    }

    .features {
        text-align: center;
    }

    .feature-boxes {
        margin: 35px 10% 0;
        display: flex;
        justify-content: space-between;

        @media @desktop {
            margin-left: 5%;
            margin-right: 5%;
        }

        @media @tablet-md {
            flex-direction: column; 
            align-items: center;
            margin-left: 10%;
            margin-right: 10%;
        }

        .feature-box {
            width: 30%;
            .box(@gray, 36px 2%);

            @media @tablet-md {
                width: 90%;
                margin-bottom: 3rem;
            }

            @media @phone {
                width: 100%;
            }

            img {
                margin-bottom: 50px;

                @media @desktop {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

.testimonials {
    text-align: center;
    padding: 80px 0 50px;
    color: @darkgray;

    @media @desktop {
        padding-bottom: 0;
    }

    @media @tablet-md {
        padding-top: 50px;
    }
    
    h2 {
        color: @seagreen;

        @media @desktop {
            margin-bottom: 60px;
        }
    }

    p {
        font-size: 1.4rem;
        line-height: 1.6;
        z-index: 1;
    }

    img {
        z-index: 0;
    }

    .quotes {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;

        @media @desktop{
            flex-wrap: wrap;
        }

        @media @tablet-md {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

        .qb1 {

            p {
                max-width: 270px;
                .relative(-145px, 45px);
            }

            .portrait {
                .relative(-90px, -70px);
            }
        }

        .qb2 {

            p {
                max-width: 270px;
                .relative(-50px, 45px);

                @media @tablet-md {
                    .relative(-150px, 45px);
                }
            }

            .bubble {
                .relative(100px, 0);

                @media @tablet-md {
                    position: unset;
                }
            }

            .portrait {
                .relative(10px, 100px);

                @media @tablet-md {
                    .relative(-80px, 100px);
                }
            }
        }

        .qb3 {
            
            p {
                max-width: 320px;
                .relative(-165px, 40px);
            }

            .portrait {
                .relative(-115px, 40px);

                @media @tablet-md {
                    .relative(-100px, 40px);
                }
            }
        }
    }
}

.cta-bottom {
    background-color: @teal;
    padding: 80px 0;
    color: white;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;

        @media @tablet-lg {
            flex-direction: column;
            text-align: center;
            max-width: 80%;
        }
    }

    button {
        margin-left: 2%;
        .button(@yellow, @teal, 1px solid @yellow, 39px, 17px 40px);

        &:hover {
            color: @teal;
            background-color: @yellow;
        }

        @media @tablet-lg {
            margin-left: unset;
            margin-top: 3rem;
        }
    }
    
}