// Home page styles
.cta-top {
    padding-top: 40px;
    padding-bottom: 40px;
    background: linear-gradient(120deg, #99DE99 0%, #258D79 100%);

    h1, h2 {
        color: white;
    }

    .cta {
        margin-bottom: 70px; 
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .cta-text {
        margin-left: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            margin-bottom: 40px;
            text-align: center;
        }

        button {
            .button(@gray, @yellow, none, 39px, 18px 48px)
        }
    }

    .features {
        text-align: center;
    }

    .feature-boxes {
        margin: 35px 10% 0;
        display: flex;
        justify-content: space-between;

        .feature-box {
            width: 30%;
            padding: 36px 1.5%;
            background-color: white;
            border-radius: 15px;
            color: @gray;

            img {
                margin-bottom: 5rem;
            }
        }
    }
}

.testimonials {
    text-align: center;
    padding: 80px 0 50px;
    color: @darkgray;
    
    h2 {
        color: @seagreen;
    }

    .quotes {
        display: flex;
        align-items: flex-start;

        .qb2 {
            align-self: flex-end;
        }
    }
}

.cta-bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}