// Home page styles
.cta-top {

    .cta {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cta-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .features {
        text-align: center;
    }

    .feature-boxes {
        display: flex;
        justify-content: space-between;
    }
}

.testimonials {
    text-align: center;

    .quotes {
        display: flex;
        align-items: flex-start;

        .qb2 {
            align-self: flex-end;
        }
    }
}

.cta-bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}