
// Color assignments
@text-color: @darkgray;
@logo-color: @seagreen;
@nav-color: @teal;
@nav-bg: white;
@cta-heading-color: white;
@cta-button-color: @yellow;
@cta-text-color: @gray;
@testimonials-text-color: @darkgray;
@testimonials-heading-color: @seagreen;
@cta-bottom-bg: @teal;
@about-heading-color: white;
@about-text-color: @gray;
@team-heading-color: @seagreen;
@team-box-color: @teal;
@footer-bg: @darkstone;
@footer-text: white;


// Color palette
@seagreen: #78C885;
@teal: #258D79;
@yellow: #F9FF00;
@gray: #6E6E6E;
@darkgray: #3E3E3E;
@darkstone: #556E64;

// Background gradient
@bg-gradient: linear-gradient(120deg, #99DE99 0%, #258D79 100%);

// Media queries
@phone: ~"(max-width: 500px)";
@tablet-sm: ~"(max-width: 660px)";
@tablet-md: ~"(max-width: 800px)";
@tablet-lg: ~"(max-width: 900px)";
@desktop: ~"(max-width: 1300px)";

// Fonts
@logo-font: 'Raleway', sans-serif;
@heading-font: 'Source Sans Pro', sans-serif;
@p-font: 'Roboto', sans-serif;


