// Color assignments
@text-color: @darkgray;
@logo-color: @seagreen;
@nav-color: @teal;
@nav-bg: white;
@cta-heading-color: white;
@cta-button-color: @yellow;
@cta-text-color: @gray;
@testimonials-text-color: @darkgray;
@testimonials-heading-color: @seagreen;
@cta-bottom-bg: @teal;
@about-heading-color: white;
@about-text-color: @gray;
@team-heading-color: @seagreen;
@team-box-color: @teal;
@footer-bg: @darkstone;
@footer-text: white;

// Color palette
@seagreen: #78c885;
@teal: #258d79;
@yellow: #f9ff00;
@gray: #6e6e6e;
@darkgray: #3e3e3e;
@darkstone: #556e64;

// Background gradient
@bg-gradient: linear-gradient(120deg, #99de99 0%, #258d79 100%);

// Media queries
@phone-sm: ~"(max-width: 400px)";
@phone: ~"(max-width: 500px)";
@tablet-sm: ~"(max-width: 660px)";
@tablet-md: ~"(max-width: 800px)";
@tablet-lg: ~"(max-width: 900px)";
@desktop: ~"(max-width: 1300px)";

// Fonts
@logo-font: "Raleway", sans-serif;
@heading-font: "Source Sans Pro", sans-serif;
@p-font: "Roboto", sans-serif;
