
// Color assignments
@text-color: @darkgray;
@logo-color: @seagreen;
@heading-color: @seagreen;
@footer-bg: @darkstone;
@box-fade: fade(white, 60%);


// Color palette
@seagreen: #78C885;
@teal: #258D79;
@stonegreen: #7EA897;
@mossgray: rgb(192, 235, 118);
@mintgreen: #E0F0E3;
@lightgreen: #E3EDE8;
@brightgreen: #6BEE80;
@yellow: #F9FF00;
@lightyellow: #FCFFD9;
@gray: #6E6E6E;
@darkgray: #3E3E3E;
@darkstone: #556E64;

// Background gradient
@bg-gradient: linear-gradient(120deg, #99DE99 0%, #258D79 100%);

// Media queries
@phone: ~"(max-width: 500px)";
@tablet-sm: ~"(max-width: 660px)";
@tablet-md: ~"(max-width: 800px)";
@tablet-lg: ~"(max-width: 900px)";
@desktop: ~"(max-width: 1300px)";


